.title-dash{
    margin-top:30px;
}

.num-appartamenti{
    font-size: 15px;
    background-color: white;
    padding: 10px;
    border:0.5px solid black;
}

.view{
    color: #3FA9F5;
}

.edit{
    color: #FC9D15;
}

.delete{
    color: #E33F3D
}

