.title-dash {
    margin-top: 30px;
}

.apartment_card {

    &:hover {
        background-color: rgba(128, 128, 128, 0.45);
    }
}

.num-appartamenti {
    font-size: 15px;
    background-color: white;
    padding: 10px;
    border: 0.5px solid black;
    height: fit-content;
}

.view {
    color: #3FA9F5;
}

.edit {
    color: #FC9D15;
}

.delete {
    color: #E33F3D
}