@import './partials/variables';

* {
	font-family: 'Poppins', sans-serif;
}

a {
	text-decoration: none;
}

.color-blue {
	color: $brand-blue;
}

.color-yellow {
	color: $brand-yellow;
}

.color-red {
	color: $brand-red;
}

.error-help-block {
	color: $brand-red;
}

body {
	min-height: 100vh;
	position: relative;
	overflow-y: scroll;

	main {
		padding-top: 76px; //spazio corrispondente all'altezza dell'header
		min-height: calc(100vh - 72px); // altezza minima = 100vh - altezza footer
	}
}

#myChart {
	height: 50%;
}