.card-login{
    border: 0.5px solid rgb(200, 197, 197);
    width: 800px;
    border-radius: 10px;
}

.title-card{
    background-color: rgba(252, 157, 21, 0.8);
    padding: 10px;
    text-align: center;
    border-radius: 10px 10px 0 0;

}

.background-color-blue{
    background-color: rgb(63, 169, 245);
    color: white;
}

.background-color-blue:hover{
    background-color: rgb(50, 141, 206);
    color: white;

}



