@import './partials/variables';

.bg_color_light_blue {
	background-color: $brand-blue;

	&:hover {
		background-color: #3a92d1;
	}
}

.bg_color_yellow {
	background-color: $brand-yellow;

	&:hover {
		background-color: #e38c13;
	}
}

.bg_color_red {
	background-color: $brand-red;

	&:hover {
		background-color: #ce3a38;
	}
}

.max-height{
	max-height: 450px;
	object-fit: cover;
}

.img-size{
	height: 25px;
}

.img-size-40{
	height: 40px;
}

#offcanvasMessages {

	.offcanvas-body {
		#messagesContainer {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			.message {
				display: inline-block;
				margin-bottom: 2rem;

				&:nth-of-type(3n+1) {
					background-color: rgba($brand-blue, 0.25);
				}

				&:nth-of-type(3n+2) {
					background-color: rgba($brand-yellow, 0.25);
				}

				&:nth-of-type(3n+3) {
					background-color: rgba($brand-red, 0.25);
				}

				.userMessage {
					.messageText {
						background-color: rgba(255, 255, 255, 0.5);
					}
				}
			}
		}
	}

	// .offcanvas_size {
	// 	width: 100%;
	// }

	.message_button_position {
		margin-right: 2rem;
		margin-bottom: 2rem;
		position: fixed;
		bottom: 0;
		right: 0;

		.circle_number {
			background-color: $brand-red;
			height: 1.25rem;
			width: 1.25rem;
			line-height: 1.25rem;
			border-radius: 50%;
			top: 0;
			left: 0;
			position: absolute;
		}
	}

	.message_button_style {
		background-color: $brand-blue;
		color: white;
		border-radius: 50%;
		padding: .75rem 1rem;

		&:hover {
			background-color: #107eb4;
		}
	}

	.message_container {
		height: 100px;
	}

	.message_form_dismiss_button {
		background-color: $brand-red;
	}

	.message_form_submit_button {
		background-color: $brand-blue;
	}
}

@media screen and (min-width: 600px) {
	.offcanvas_size {
		width: 500px;
	}
}
