@import './partials/variables';

#sponsorshipsContainer {
	.button-sponsorship-Basic {
		background-color: $brand-blue;
		color: white;

		&:hover {
			color: black;
			background-color: transparent;
			border: 2px solid $brand-blue;
			font-weight: 500;
		}
	}

	.button-sponsorship-Standard {
		background-color: $brand-yellow;
		color: white;

		&:hover {
			color: black;
			background-color: transparent;
			border: 2px solid $brand-yellow;
			font-weight: 500;
		}
	}

	.button-sponsorship-Premium {
		background-color: $brand-red;
		color: white;

		&:hover {
			color: black;
			background-color: transparent;
			border: 2px solid $brand-red;
			font-weight: 500;
		}
	}

	.card {
		border: none;

		.card-body {

			.img-container {
				text-align: center;

				img {
					width: 50%;
				}
			}
		}

		&.sponsorship-Basic {
			.card-header {
				background-color: $brand-blue;
			}

			.card-body {
				background-color: rgba($brand-blue, 0.3);
			}

			.card-footer {
				background-color: $brand-blue;
			}
		}

		&.sponsorship-Standard {
			.card-header {
				background-color: $brand-yellow;
			}

			.card-body {
				background-color: rgba($brand-yellow, 0.3);
			}

			.card-footer {
				background-color: $brand-yellow;
			}
		}

		&.sponsorship-Premium {

			.card-header {
				background-color: $brand-red;
			}

			.card-body {
				background-color: rgba($brand-red, 0.3);
			}

			.card-footer {
				background-color: $brand-red;
			}

		}
	}

}